body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 650px;
    height: 650px;
}

.row {
    display: flex;
    flex: 1;
    margin: 0;
}

.cell {
    flex: 1;
    margin: 0;
    background-color: black;
}

#draw {
    background-color: red;
}